.main-header{
    color:var(--black-color);
    text-align:center;
    padding: 15px 0 15px 0;
    margin-bottom: 2px;
    box-shadow: $ombre-box;

    a{
        width:30px;
        position:absolute;
        top:17px;
        left:17px;
    }
    img {
        width:162px;
        height:32px;
    }
}   