
.main-container {
   box-sizing: border-box;
    .location{
        padding: 15px 20px 15px 20px;
        background-color:var(--second-background-color);
        font-size: 16px;
        font-weight: 500;
        color:var(--black-color);
        text-align: center;
        box-shadow: $ombre-box2;
        position:relative;

        input {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        background-color:var(--second-background-color);
        border-style: none;
        width:110px;

            &::placeholder {
                color:var(--black-color);
            } 
        }

        i{
            color:#353535;
            padding-right:15px;
        }
    }

    .banner{
        background-color: var(--primary-background-color);
        text-align:center;
        padding: 40px 20px 57px 20px;

        p{
            padding-bottom:27px;
            padding-top: 10px;
            font-size: 18px;
            font-weight: 300;
        }
    }

    .fonctionnement{
        padding: 60px 20px 68px 20px;

        &__main{
            display:flex;
            flex-direction:column;
            align-items: center;
            padding-top : 20px;
            gap: 25px;
    
            &__block{
                display:flex;
                margin-left: 10px;
                width: 100%;
                height:72px;
                position:relative;
                justify-content: center;
                align-items: center;
                background-color:var(--primary-background-color);
                border-radius:20px;
                box-shadow: $card-shadow;

                &__number {
                    color:#F6F6F6;
                    position:absolute;
                    left:-10px;
                    border-radius: 25px;
                    background-color: var(--main-color);
                    width: 20px;
                    text-align: center;
                    font-weight: 500;
                }
            
                i {
                    margin-left: 24px;
                    margin-right: 20px;
                }

                .fa-grey {
                    color:var(--grey-icon-color);
                }
              
                .fa-purple { 
                    color: var(--main-color);
                }
            }
        }
    }

    .restaurants{
        background-color: var(--primary-background-color);
        padding: 54px 20px 66px 20px;
        
        h2 {
            font-size: 24px;
            font-weight: 700;
            padding-bottom: 15px;
        }

        &__main{
            display:flex;
            flex-direction:column;
            width: 100%;
            gap: 18px;
    
            &__card {
                display:flex;
                flex-direction: column;
                border-radius: 15px;
                color:var(--white-color);
                box-shadow: $card-shadow;
    
                &__blockimg{
                    position:relative;
                    height:197px;
            
                    img{
                        width:100%;
                        height: 197px;
                        object-fit: cover;
                        border-radius:15px 15px 0 0;
                    }
                    &__badgenew{
                        width: 80px;
                        text-align:center;
                        padding: 7px 9px 7px 9px;
                        position:absolute;
                        top:10px;
                        right:10px;
                        color: var(--primary-green-color);
                        background-color: var(--third-color);
                        border-radius: 2px;
                    }
                }

                &__content{
                    position: relative;
                    background-color: var(--white-color);
                    padding:16px 0 12px 13px;
                    border-radius:0 0 15px 15px;
                    &__txt{
                        display:flex;
                        flex-direction: column;
                        color:var(--black-color);
                        gap:5px;
                    
                        h3{
                            font-size:18px;
                        }

                        p{
                            font-size:17px;
                        }
                    }

                    &__icon{
                        width:50px;
                        input {
                            position:absolute;
                            cursor:pointer;
                            right:26px;
                            top:-5px;
                            width:50px;
                            height:50px;
                            z-index:50;
                            opacity: 0;

                        }
                        .fa-regular{
                        position:absolute;
                        right:25px;
                        top: 30px;
                        color:#101010; 
                        transition: all  1s ease-in-out;           
                        }

                        .fa-solid{
                        position:absolute;
                        right:25px;
                        top: 30px;
                        opacity: 0;
                        color: var(--main-color);
                        transition: all  1s ease-in-out;       
                        }
                    }
                }
            }
        }
    }
}

  

