.main-container {
   
    .location{
        padding: 15px 20px 15px 20px;
        background-color:var(--second-background-color);
        font-size: 16px;
        font-weight: 500;
        color:var(--black-color);
        text-align: center;
        box-shadow: 0px 4px 4px 0px #00000040;
        i{
            color:#353535;
            padding-right:15px;
        }
    }

    .banner{
        background-color: var(--primary-background-color);
        text-align:center;
        padding: 40px 20px 57px 20px;
        p{
            padding-bottom:27px;
            padding-top: 10px;
            font-size: 18px;
            font-weight: 300;
        }
    }

    .fonctionnement{
        padding: 0 20px 68px 20px;

        &__main{
            display:flex;
            flex-direction:column;
            align-items: center;
            padding-top : 20px;
            gap: 25px;
    
            &__block{
                display:flex;
                margin-left: 10px;
                width: 100%;
                height:72px;
                justify-content: center;
                align-items: center;
                background-color:var(--primary-background-color);
                border-radius:20px;
                box-shadow: $card-shadow;

                &__number {
                    color:#F6F6F6;
                    position:absolute;
                    left:20px;
                    border-radius: 25px;
                    background-color: var(--main-color);
                    width: 20px;
                    text-align: center;
                    font-weight: 500;
                }
            
                i {
                    margin-left: 24px;
                    margin-right: 20px;
                }

                .fa-grey {
                    color:var(--grey-icon-color);
                }
              
                .fa-purple { 
                    color: var(--main-color);
                }
            }
        }
    }

    .restaurants{
        background-color: var(--primary-background-color);
        padding: 54px 20px 66px 20px;
        
        h2 {
            font-size: 24px;
            font-weight: 700;
            padding-bottom: 15px;
        }

        &__main{
            display:flex;
            flex-direction:column;
            width: 100%;
            gap: 18px;
    
            &__card {
                display:flex;
                flex-direction: column;
                border-radius: 15px;
                color:var(--white-color);
                box-shadow: $card-shadow;
    
                &__blockimg{
                    position:relative;
                    height:197px;
            
                    img{
                        width:100%;
                        height: 197px;
                        object-fit:cover;
                        border-radius:15px 15px 0 0;
                    }
                    &__badgenew{
                        width: 80px;
                        text-align:center;
                        padding: 7px 9px 7px 9px;
                        position:absolute;
                        top:10px;
                        right:10px;
                        color: var(--primary-green-color);
                        background-color: var(--third-color);
                        border-radius: 2px;
                    }
                }

                &__content{
                    position: relative;
                    background-color: var(--white-color);
                    padding:16px 0 12px 13px; 
                    &__txt{
                        display:flex;
                        flex-direction: column;
                        color:var(--black-color);
                        h3{
                            font-size:18px;
                            font-weight: 700px;
                        }

                        p{
                            font-size:17px;
                            font-weight: 300px;
                        }
                    }

                    &__icon{
                        position:absolute;
                        right:25px;
                        top:21px;
                        color: var(--main-color);
                    }
                }
            }
        }
    }
}

  