@charset "UTF-8";
/****** General ***********/
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

:root {
  --main-color: #9356DC;
  --second-color:#FF79DA;
  --third-color: #99E2D0;
  --primary-background-color: #F6F6F6;
  --second-background-color:#EAEAEA;
  --grey-icon-color: #7E7E7E;
  --primary-green-color:#008766;
  --check-green-color:#99E2D0;
  --footer-background-color: #353535;
  --white-color: white;
  --black-color: black;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/** Bouton call to action sur page acceuil et pages menu **/
.button-action {
  width: 218px;
  text-align: center;
  color: var(--white-color);
  border-radius: 25px;
  border: none;
  font-size: 1em;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px;
  background: linear-gradient(193deg, #9356DC -11.4%, #FF79DA 123.9%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in-out; /** Ajout pour pour déclenchement effet du hover **/
}

.loader {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  top: 0px;
  padding-top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 9999;
  background: rgb(255, 255, 255);
  animation: hide-preloader 3s forwards;
}
.loader img {
  width: 50%;
  text-align: center;
  animation: logo-header 2s;
}
.loader__text {
  margin-top: 250px;
}
.loader__text span {
  font-family: "Shrikhand", serif;
  color: transparent;
  font-size: 30px;
  letter-spacing: 10px;
  margin-top: 0px;
  animation: flashloader 1.4s linear infinite;
}

.main-container {
  box-sizing: border-box;
}
.main-container .location {
  padding: 15px 20px 15px 20px;
  background-color: var(--second-background-color);
  font-size: 16px;
  font-weight: 500;
  color: var(--black-color);
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}
.main-container .location input {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  background-color: var(--second-background-color);
  border-style: none;
  width: 110px;
}
.main-container .location input::-moz-placeholder {
  color: var(--black-color);
}
.main-container .location input::placeholder {
  color: var(--black-color);
}
.main-container .location i {
  color: #353535;
  padding-right: 15px;
}
.main-container .banner {
  background-color: var(--primary-background-color);
  text-align: center;
  padding: 40px 20px 57px 20px;
}
.main-container .banner p {
  padding-bottom: 27px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 300;
}
.main-container .fonctionnement {
  padding: 60px 20px 68px 20px;
}
.main-container .fonctionnement__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 25px;
}
.main-container .fonctionnement__main__block {
  display: flex;
  margin-left: 10px;
  width: 100%;
  height: 72px;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background-color);
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.main-container .fonctionnement__main__block__number {
  color: #F6F6F6;
  position: absolute;
  left: -10px;
  border-radius: 25px;
  background-color: var(--main-color);
  width: 20px;
  text-align: center;
  font-weight: 500;
}
.main-container .fonctionnement__main__block i {
  margin-left: 24px;
  margin-right: 20px;
}
.main-container .fonctionnement__main__block .fa-grey {
  color: var(--grey-icon-color);
}
.main-container .fonctionnement__main__block .fa-purple {
  color: var(--main-color);
}
.main-container .restaurants {
  background-color: var(--primary-background-color);
  padding: 54px 20px 66px 20px;
}
.main-container .restaurants h2 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 15px;
}
.main-container .restaurants__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 18px;
}
.main-container .restaurants__main__card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  color: var(--white-color);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.main-container .restaurants__main__card__blockimg {
  position: relative;
  height: 197px;
}
.main-container .restaurants__main__card__blockimg img {
  width: 100%;
  height: 197px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.main-container .restaurants__main__card__blockimg__badgenew {
  width: 80px;
  text-align: center;
  padding: 7px 9px 7px 9px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--primary-green-color);
  background-color: var(--third-color);
  border-radius: 2px;
}
.main-container .restaurants__main__card__content {
  position: relative;
  background-color: var(--white-color);
  padding: 16px 0 12px 13px;
  border-radius: 0 0 15px 15px;
}
.main-container .restaurants__main__card__content__txt {
  display: flex;
  flex-direction: column;
  color: var(--black-color);
  gap: 5px;
}
.main-container .restaurants__main__card__content__txt h3 {
  font-size: 18px;
}
.main-container .restaurants__main__card__content__txt p {
  font-size: 17px;
}
.main-container .restaurants__main__card__content__icon {
  width: 50px;
}
.main-container .restaurants__main__card__content__icon input {
  position: absolute;
  cursor: pointer;
  right: 26px;
  top: -5px;
  width: 50px;
  height: 50px;
  z-index: 50;
  opacity: 0;
}
.main-container .restaurants__main__card__content__icon .fa-regular {
  position: absolute;
  right: 25px;
  top: 30px;
  color: #101010;
  transition: all 1s ease-in-out;
}
.main-container .restaurants__main__card__content__icon .fa-solid {
  position: absolute;
  right: 25px;
  top: 30px;
  opacity: 0;
  color: var(--main-color);
  transition: all 1s ease-in-out;
}

.main-header {
  color: var(--black-color);
  text-align: center;
  padding: 15px 0 15px 0;
  margin-bottom: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.main-header a {
  width: 30px;
  position: absolute;
  top: 17px;
  left: 17px;
}
.main-header img {
  width: 162px;
  height: 32px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  background-color: var(--footer-background-color);
  padding: 22px 25px 22px 25px;
}
.footer__menu * {
  color: var(--white-color);
}
.footer__menu h3 {
  font-family: "Shrikhand", serif;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 400;
}
.footer__menu ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 0px;
}
.footer__menu ul i {
  width: 20px;
}
.footer__menu ul a {
  font-weight: 500;
}

.banner__menu img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-restaurant {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 999;
  margin-top: -30px;
  background-color: var(--primary-background-color);
  padding: 32px 13px 0 13px;
  border-radius: 25px 25px 0 0;
  gap: 40px;
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 32px;
  margin-top: -32px;
  gap: 40px;
  border-radius: 25px 25px 0 0;
  box-sizing: border-box;
  width: 100%;
}
.menu__title {
  display: flex;
  align-items: center;
  gap: 30px;
}
.menu__title h2 {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
}
.menu__title__icon input {
  position: absolute;
  cursor: pointer;
  top: 20px;
  width: 32px;
  height: 50px;
  z-index: 50;
  opacity: 0;
}
.menu__title__icon .fa-regular {
  position: absolute;
  transition: all 1s ease-in-out;
}
.menu__title__icon .fa-solid {
  position: absolute;
  opacity: 0;
  color: var(--main-color);
  transition: all 1s ease-in-out;
}
.menu__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.menu__container__type {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu__container__type h3 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
.menu__container__type h3:after {
  content: "";
  width: 40px;
  height: 1px;
  padding-top: 5px;
  border-bottom: 3px solid #99E2D0;
}
.menu__container__type__card {
  display: flex;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  /** actuellement 10 plats maxi, prévu pour 12 **/
  /** actuellement 10 plats maxi, prévu pour 12 **/
  /** actuellement 10 plats maxi, prévu pour 12 **/
  /** actuellement 10 plats maxi, prévu pour 12 **/
  /** actuellement 10 plats maxi, prévu pour 12 **/
  /** actuellement 10 plats maxi, prévu pour 12 **/
  /** actuellement 10 plats maxi, prévu pour 12 **/
  /** actuellement 10 plats maxi, prévu pour 12 **/
  /** actuellement 10 plats maxi, prévu pour 12 **/
  /** actuellement 10 plats maxi, prévu pour 12 **/
  /** actuellement 10 plats maxi, prévu pour 12 **/
  /** actuellement 10 plats maxi, prévu pour 12 **/
}
.menu__container__type__card__content {
  display: flex;
  min-width: 0;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 15px;
  background-color: var(--white-color);
  padding: 13.5px 15px 13.5px 15px;
  gap: 12px;
}
.menu__container__type__card__content__txt {
  min-width: 0;
}
.menu__container__type__card__content__txt h4 {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__container__type__card__content__txt p {
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__container__type__card__content__prix {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  white-space: nowrap;
  font-size: 15px;
}
.menu__container__type__card #check-valid1 {
  cursor: pointer;
  width: 59px;
  height: 75px;
  position: absolute;
  z-index: 100;
  opacity: 0;
  right: 0;
}
.menu__container__type__card #check-valid2 {
  cursor: pointer;
  width: 59px;
  height: 75px;
  position: absolute;
  z-index: 100;
  opacity: 0;
  right: 0;
}
.menu__container__type__card #check-valid3 {
  cursor: pointer;
  width: 59px;
  height: 75px;
  position: absolute;
  z-index: 100;
  opacity: 0;
  right: 0;
}
.menu__container__type__card #check-valid4 {
  cursor: pointer;
  width: 59px;
  height: 75px;
  position: absolute;
  z-index: 100;
  opacity: 0;
  right: 0;
}
.menu__container__type__card #check-valid5 {
  cursor: pointer;
  width: 59px;
  height: 75px;
  position: absolute;
  z-index: 100;
  opacity: 0;
  right: 0;
}
.menu__container__type__card #check-valid6 {
  cursor: pointer;
  width: 59px;
  height: 75px;
  position: absolute;
  z-index: 100;
  opacity: 0;
  right: 0;
}
.menu__container__type__card #check-valid7 {
  cursor: pointer;
  width: 59px;
  height: 75px;
  position: absolute;
  z-index: 100;
  opacity: 0;
  right: 0;
}
.menu__container__type__card #check-valid8 {
  cursor: pointer;
  width: 59px;
  height: 75px;
  position: absolute;
  z-index: 100;
  opacity: 0;
  right: 0;
}
.menu__container__type__card #check-valid9 {
  cursor: pointer;
  width: 59px;
  height: 75px;
  position: absolute;
  z-index: 100;
  opacity: 0;
  right: 0;
}
.menu__container__type__card #check-valid10 {
  cursor: pointer;
  width: 59px;
  height: 75px;
  position: absolute;
  z-index: 100;
  opacity: 0;
  right: 0;
}
.menu__container__type__card #check-valid11 {
  cursor: pointer;
  width: 59px;
  height: 75px;
  position: absolute;
  z-index: 100;
  opacity: 0;
  right: 0;
}
.menu__container__type__card #check-valid12 {
  cursor: pointer;
  width: 59px;
  height: 75px;
  position: absolute;
  z-index: 100;
  opacity: 0;
  right: 0;
}
.menu__container__type__card__check {
  background-color: var(--check-green-color);
  width: 0px;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  border-radius: 0 15px 15px 0;
  text-align: center;
  color: #fff;
}
.menu__container__type__card__check .fa-regular {
  color: var(--check-green-color);
  display: flex;
  align-items: center;
  position: absolute;
  right: 5%;
  z-index: 250;
  background-color: white;
}

.command-button {
  text-align: center;
  padding-bottom: 40px;
}
.command-button .button-action {
  width: 186px;
}

/****** Media queries ***********/
/* Medium devices (tablets, more/equal than 768px) */
@media (min-width: 768px) {
  /**   RAS   rien à corriger **/
}
/****** Media queries ***********/
/* Desktop devices ( more/equal than 1024px) */
@media (min-width: 1024px) {
  /** Header  **/
  .main-header {
    box-shadow: none;
  }
  .main-header a {
    top: 25px;
  }
  .main-header img {
    width: 200px;
  }
  /** Page d'accueil **/
  .main-container .location {
    box-shadow: none;
  }
  .main-container .banner h1 {
    font-size: 40px;
  }
  .main-container .fonctionnement {
    padding-left: 8%;
    padding-right: 8%;
  }
  .main-container .fonctionnement__main {
    flex-direction: row;
  }
  .main-container .restaurants {
    padding-left: 8%;
    padding-right: 8%;
  }
  .main-container .restaurants__main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
  }
  .main-container .restaurants__main a {
    width: 46%;
  }
  /** Page des Menus **/
  .banner__menu img {
    height: 383px;
  }
  .menu-restaurant {
    padding: 32px 203px 0 203px;
    margin-left: 100px;
    margin-right: 100px;
  }
  .menu__title {
    justify-content: center;
  }
  /** Footer **/
  .footer__menu {
    flex-direction: row-reverse;
    align-items: center;
    padding: 65px 25px 22px 25px;
  }
  .footer__menu h3 {
    margin-bottom: 0;
    width: 130px;
  }
  .footer__menu ul {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  .footer__menu ul :nth-child(2) {
    width: 190px;
  }
  .footer__menu ul :nth-child(3) {
    width: 130px;
  }
  .footer__menu ul :nth-child(4) {
    width: 130px;
  }
}
/************ BOUTON ACTION *******************/
.button-action:hover {
  filter: brightness(1.09);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  transition: all 0.5s ease-in-out;
}

/** Animation de l'icone Coeur Home-page et  page-menu au clic **/
.restaurants__main__card input:checked ~ .icone-heart-regular,
.menu__title__icon input:checked ~ .icone-heart-regular {
  opacity: 1;
  transition: 1s ease-in-out;
}

.restaurants__main__card input:checked ~ .icone-heart-solid,
.menu__title__icon input:checked ~ .icone-heart-solid {
  opacity: 1;
  transition: 1s ease-in-out;
}

/** Animation  PRELOADER **/
/** Animation du LOGO Header **/
@keyframes logo-header {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
/** Animation du Flash loader **/
@keyframes flashloader {
  0% {
    color: var(--main-color);
    text-shadow: 0 0 7px var(--main-color);
  }
  80% {
    color: var(--second-color);
    text-shadow: none;
  }
  100% {
    color: var(--main-color);
    text-shadow: 0 0 7px var(--main-color);
  }
}
/** 9 lettres de la mention "loading .." à afficher **/
.loader__text .letter1 {
  animation-delay: 0.1s;
}

/** 9 lettres de la mention "loading .." à afficher **/
.loader__text .letter2 {
  animation-delay: 0.2s;
}

/** 9 lettres de la mention "loading .." à afficher **/
.loader__text .letter3 {
  animation-delay: 0.3s;
}

/** 9 lettres de la mention "loading .." à afficher **/
.loader__text .letter4 {
  animation-delay: 0.4s;
}

/** 9 lettres de la mention "loading .." à afficher **/
.loader__text .letter5 {
  animation-delay: 0.5s;
}

/** 9 lettres de la mention "loading .." à afficher **/
.loader__text .letter6 {
  animation-delay: 0.6s;
}

/** 9 lettres de la mention "loading .." à afficher **/
.loader__text .letter7 {
  animation-delay: 0.7s;
}

/** 9 lettres de la mention "loading .." à afficher **/
.loader__text .letter8 {
  animation-delay: 0.8s;
}

/** 9 lettres de la mention "loading .." à afficher **/
.loader__text .letter9 {
  animation-delay: 0.9s;
}

@keyframes hide-preloader {
  90% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
/** Apparition des plats au fur et à mesure **/
/** 10 maxi pour le moment selon menu, prévu pour 12 maxi ** **/
.menu__container__type__card.animation-plat1 {
  animation-name: fadein-plat;
  animation-delay: 0.5s;
  opacity: 0;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

/** 10 maxi pour le moment selon menu, prévu pour 12 maxi ** **/
.menu__container__type__card.animation-plat2 {
  animation-name: fadein-plat;
  animation-delay: 1s;
  opacity: 0;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

/** 10 maxi pour le moment selon menu, prévu pour 12 maxi ** **/
.menu__container__type__card.animation-plat3 {
  animation-name: fadein-plat;
  animation-delay: 1.5s;
  opacity: 0;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

/** 10 maxi pour le moment selon menu, prévu pour 12 maxi ** **/
.menu__container__type__card.animation-plat4 {
  animation-name: fadein-plat;
  animation-delay: 2s;
  opacity: 0;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

/** 10 maxi pour le moment selon menu, prévu pour 12 maxi ** **/
.menu__container__type__card.animation-plat5 {
  animation-name: fadein-plat;
  animation-delay: 2.5s;
  opacity: 0;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

/** 10 maxi pour le moment selon menu, prévu pour 12 maxi ** **/
.menu__container__type__card.animation-plat6 {
  animation-name: fadein-plat;
  animation-delay: 3s;
  opacity: 0;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

/** 10 maxi pour le moment selon menu, prévu pour 12 maxi ** **/
.menu__container__type__card.animation-plat7 {
  animation-name: fadein-plat;
  animation-delay: 3.5s;
  opacity: 0;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

/** 10 maxi pour le moment selon menu, prévu pour 12 maxi ** **/
.menu__container__type__card.animation-plat8 {
  animation-name: fadein-plat;
  animation-delay: 4s;
  opacity: 0;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

/** 10 maxi pour le moment selon menu, prévu pour 12 maxi ** **/
.menu__container__type__card.animation-plat9 {
  animation-name: fadein-plat;
  animation-delay: 4.5s;
  opacity: 0;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

/** 10 maxi pour le moment selon menu, prévu pour 12 maxi ** **/
.menu__container__type__card.animation-plat10 {
  animation-name: fadein-plat;
  animation-delay: 5s;
  opacity: 0;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

/** 10 maxi pour le moment selon menu, prévu pour 12 maxi ** **/
.menu__container__type__card.animation-plat11 {
  animation-name: fadein-plat;
  animation-delay: 5.5s;
  opacity: 0;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

/** 10 maxi pour le moment selon menu, prévu pour 12 maxi ** **/
.menu__container__type__card.animation-plat12 {
  animation-name: fadein-plat;
  animation-delay: 6s;
  opacity: 0;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

@keyframes fadein-plat {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/** Animation du bouton check à utiliser au Clic et au Survol  **/
@keyframes fadein-check {
  0% {
    width: 0px;
  }
  100% {
    width: 59px;
  }
}
@keyframes fadeout-check {
  0% {
    width: 59px;
  }
  100% {
    width: 0px;
  }
}
.menu__container input:checked ~ .check-animation,
.menu__container__type__card:hover .check-animation {
  animation-name: fadein-check;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.check-animation {
  animation-name: fadeout-check;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}/*# sourceMappingURL=style.css.map */